.header{
    background-color: #eff2f6;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    padding: 0;
    min-width: 340px !important;
    background-color: #eff2f6;
    padding-top: 7px;
}
.sidebar{
    height: 100%;
}

.pagesContainer {
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 535px) {
    .header {
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    .flexContainer {
        padding-top: 122px;
    }

    .sidebar{
        width: 100%;
    }
}