.sidebarContainer{
    display: flex;
    background-color: #343a40;
    height: auto;
    width: 170px;
    margin-right: 20px;
}

.sidebar {
    width: 170px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
}

.link {
    transition-duration: .3s;
    background-color: rgba(114, 113, 143, 0.87);
    border: #e6b800 solid 1px;
    margin: 2px 0 ;
    box-shadow: 0 0 5px rgba(4, 41, 247, 0.36);
    border-radius: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #ffffff;
    width: 90px;
}


.link:hover{
    transition-duration: .3s;
    background-color: rgba(114, 113, 143, 0.87);
    text-decoration: none;
    color: #ffffff;
}

.active{
    background-color: rgba(121, 118, 145, 0.87);
    text-decoration: none;
    color: #ffffff;
}

.onMovingLabel{
    padding: 0 8px 3px 8px;
    border-radius: 15px;
    margin: 2px;
    border: 1px solid #b1b1b1;
    color: #ffffff;
}

.onMovingLabel:hover{
    background-color: #5b5b5b;
}
.list{
    display: flex;
}
.list img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}