.topBlock {
    display: none;
    background-image: url("../../assets/images/slide2.jpg");
    background-size: cover;
    background-position: center;
    height: 120px;
}
.topImage {
    width: 100%;
}

.topBlock h3{
    margin: auto!important;
    text-shadow: #000000 0 0 10px;
}
.carousel h3, .carousel p {
    color: #ffffff;
    text-shadow: #000000 0 0 10px;
    padding: 5px;
    font-weight: bold;
}

@media (max-width: 762px) {

    .carousel {
        display: none;
    }

    .topBlock {
        display: flex;
    }

}
