.headerTitle
  color: #333333
  margin: 5px 10px
  text-align: center


.brandArea, .authArea
  display: flex

.navBrand
  color: #333333
  font-weight: bold
  font-size: large
  margin: auto
  transition: all 0.5s

.navBrand:hover
  color: #cecece
  text-decoration: none

.line
  background-color: #666666
  opacity: 0.5
  margin: 0
  padding: 0
  max-width: 450px
  text-align: center
  margin-left: auto
  margin-right: auto

.infoBlock
  font-size: 14px
  display: flex
  justify-content: center
  padding-bottom: 10px
  flex-wrap: wrap

.authBlock
  margin: auto