.headerTop
  min-height: 100px
  display: flex
  flex-flow: row
  justify-content: space-around
  background: linear-gradient(#5685b6, rgba(58, 140, 215, 0.6), #5685b6)

.infoBlock
  font-size: 14px
  display: flex
  flex-flow: column
  align-items: center
  flex-wrap: wrap
  margin: auto
  max-width: 600px
  flex-grow: 5

.line
  background-color: #ffffff
  opacity: 0.5
  margin: 0
  padding: 0
  text-align: center
  margin-left: auto
  margin-right: auto

.headerContact
  display: flex
  flex-flow: row
  flex-wrap: wrap
  justify-content: space-around

.headerTitle
  color: #ffffff
  margin: 5px
  text-align: center
  font-weight: bold
  text-shadow: #333333 0 0 2px;


.brandArea, .authArea
  display: flex

.brandArea img
  width: 80px
  height: 70px
  margin: auto

.navBrand
  color: #ffffff
  font-weight: bold
  font-size: 25px
  margin: auto
  transition: all 0.5s
  padding: 0 5px 0 10px
  text-shadow: #333333 0 0 2px

.navBrand:hover
  color: #b1c6e0
  text-decoration: none


.authBlock
  margin: auto