.infoArea{
    border: #cecece 1px solid;
    max-width: 320px;
    margin: 10px;
    box-shadow: 0 0 7px #cecece;
}

.infoArea ul{
    margin: 0!important;
    background-color: #ffffff;
    border: #cecece solid;
    border-width: 1px 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
}
h3 {
    margin: 0!important;
}
.infoTitle{
    background: linear-gradient(rgba(79, 97, 119, 0), #a1b9d1, #748595,#748595)!important;
    border-width: 1px 1px 1px 1px;
}

.infoContainer{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

