.infoArea{
    border: #cecece 1px solid;
    width: 320px;
    margin: 10px;
    box-shadow: 0 0 7px #cecece;
    background-color: #ededed;

}
.infoArea ul{
    margin: 0;
    background-color: #ffffff;
    border: #cecece solid;
    border-width: 1px 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.colomnStyle{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

