.actions {
    display: flex;
    justify-content: center;
    margin: 0 auto 10px auto;
    border-radius: 10px;
    max-width: 780px;
    flex-wrap: inherit;
}

.actionNav {
    text-align: center;
    margin: 0 5px;
    width: 100%;



}

.actions img:hover {
    box-shadow: 0 0 7px #ce4720;
    transition: all 0.3s;

}

.actions img {
    transition: all 0.3s;
    width: inherit;


}

.action {
    height: 130px !important;
    box-shadow: 0 0 7px #004992;
}


@media (max-width: 450px) {

    .actions {
        flex-wrap: wrap;
    }
    .actionNav{
        max-width: 360px;
        margin: 0 0 10px 0;
    }
}