.item {
    transition-duration: .3s;
    width: 180px;
    height: 290px;
    border-radius: 3px;
    border: 2px #ffffff solid;
    margin: 10px;
    padding: 30px 10px 10px 10px;
    background-color: #ffffff;
}

.item:hover {
    transition-duration: .3s;
    border: 2px #3a8cd7 solid;
    box-shadow: 0 0 0;
}
.item:hover .imageExample {
    transform: scale(1.05);
    transition: 0.5s;
}

.actions{
    margin: 0 30px;
}

.flexItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.imageContainer {
    text-align: center;
}

.imageExample {
    width: 100px;
    margin-bottom: 5px;
    transition: 0.5s;
}

.itemName {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #5c686e;
}

.itemDescription {
    font-size: 12px;
    color: #8d9ba4;
}

.navLink:hover {
    text-decoration: none;
}

.itemCost {
    color: #3a8cd7;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.buyButton {
    background-color: #9099a0;
    color: #ffffff!important;
    padding: 3px 10px 5px 10px;
    cursor: pointer;

}

.buyButton:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #3a8cd7;
}

.itemNew {
    background-color: #22c083;
    color: #ffffff;
    left: 82px;
    position: relative;
    width: 86px;
    padding: 0 10px 2px 10px;

}
.wrapperOpen{
    display: block;
}
.wrapperClose{
    display: none;
}

.itemFooter{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.productQuantity{
    width: 40px;
}
.controlsArea{
    display: flex;
    flex-flow: column;
    margin: 0 20px 0 3px;
}
.quantityControls{
    width: 15px;
    height: 15px;
    background-color: rgba(141, 155, 164, 0.62) !important;
    padding: 0;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 436px) {

    .item {
        margin: 10px 5px;

    }

}