.infoArea {
    border: #cecece 1px solid;
    max-width: 600px;
    margin: 10px;
    box-shadow: 0 0 7px #cecece;
}

.titleArea {
    background: linear-gradient(rgba(79, 97, 119, 0), rgb(82, 113, 128), rgb(82, 113, 128), rgb(82, 113, 128)) !important;
    margin: 0!important;
}

.infoArea ul {
    margin: 0;
    background-color: #ffffff;
    border: #cecece solid;
    border-width: 1px 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.colomnStyle {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list img {
    width: 30px;
}

.list li {
    list-style-type: none;
    margin-bottom: 20px;
}