.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 780px;
}

.actionNav {
    margin: 10px 30px;
    text-align: center;
    padding: 5px;

}

.actions img:hover {
    box-shadow: 0 0 7px #ce4720;
    transition: all 0.3s;

}

.actions img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 7px #004992;
    transition: all 0.3s;

}

.action {
    height: 130px !important;
    box-shadow: 0 0 7px #004992;
}

@media (max-width: 936px) {

    .actionNav {
        margin: 10px;
    }

    .actions img {
        max-width: 250px;

    }

}


@media (max-width: 436px) {

    .actions img {
        max-width: 190px;

    }

}