.sidebarContainer {
    display: flex;
    background-color: #343a40 !important;
    height: auto;
}

.sidebar {
    width: 0;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    margin-top: 10px;
    transition: all 0.5s;
    overflow: hidden;
}

.active {
    background-color: rgba(121, 118, 145, 0.87);
    text-decoration: none;
    color: #ffffff;
}

.onClickMoving{
    margin: 2px;
    border: solid #b1b1b1;
    border-width: 0 0 0 1px;
    color: #ffffff;
    height: auto;
    cursor: pointer;
    background-color: #707070;
}

.onClickMoving:hover {
    background-color: #5b5b5b;
}

.onClickMoving i{
    padding: 2px 8px 5px 8px;
    margin: 2px;
    border:1px solid #b1b1b1;
    border-radius: 5px;
    color: #ffffff;
    height: auto;
}

.wrapperClose{
    transition: all 0.5s;
    overflow: hidden;
    width: 130px;
}

.link {
    transition-duration: .3s;
    background-color: rgba(114, 113, 143, 0.87);
    border: dimgray solid 1px;
    margin: 2px 0;
    margin-right: 5px;
    box-shadow: 0 0 10px rgba(4, 41, 247, 0.36);
    border-radius: 7px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    color: #ffffff;
    width: 80px;
}

.list{
    display: flex;
}
.list img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}