.confirmButton, .orderButton {
    background: linear-gradient(#8eacbd, #627882, #627882, #8eacbd);
    color: #ffffff;
    font-size: 20px;
    padding: 3px 10px 5px 10px;
    margin-top: 10px;
    width: 220px;
    transition: 0.3s;

}

.confirmButton:hover, .orderButton:hover {
    text-decoration: none;
    color: #ffffff;
    background: linear-gradient(#8eacbd, #628273, #628273, #8eacbd);
    transition: 0.3s;
}

.modal {
    margin: auto;
    max-width: 300px;
    padding: 0 30px 30px 30px;
    background-color: #5b80b8;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

.modal p {
    color: #ffffff;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(60, 60, 60, 0.7);
    display: flex;
}

.notesArea{
    margin-bottom: 10px;
}

.notesArea p{
    margin: 0;
}

.form hr{
   background-color: rgba(255, 255, 255, 0.51);
    margin-top: 0;
}


.form i {
    color: rgba(255, 255, 255, 0.25);
    position: relative;
    left: 100px;
    margin-top: 20px;
    padding-bottom:0;
    cursor: pointer;
}
.form i:hover {
    color: rgba(255, 255, 255, 0.7);

}
.form h2{
    margin-bottom: 20px;
}


@media (max-width: 535px){
    .modal {
        height: 350px;
        overflow: scroll;
        margin-top: 130px;
    }
    .confirmButton{
       margin-bottom: 180px;
    }
}
