.infoArea{
    border: #cecece 1px solid;
    max-width: 600px;
    min-width: 320px;
    margin: 10px;
    box-shadow: 0 0 7px #cecece;

}
.infoArea ul{
    margin: 0;
    background-color: #ffffff;
    border: #cecece solid;
    border-width: 1px 0 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.colomnStyle{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list li{
    list-style-type: none;
    margin-bottom: 20px;
}
.list i{
    padding-left: 20px;
}

.infoArea span{
    padding-left: 10px;
}