.title{
    text-align: center;
    font-family: Arial;
    background-color: rgba(128, 161, 193, 0.7);
    color: #ffffff!important;
    margin: 0 10px ;
    border-radius: 0 10px 0 10px;
}

.flexItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}


@media (max-width: 535px) {
    .title{
        margin-top: 10px;
    }
}