.topImage{
    display: none;
}

.carousel h3{
    color: #ffffff;
}

@media  (max-width: 762px)  {

    .carousel{
        display: none;
    }
    .topImage{
        display: block;
        width: 100%;
    }

}
