.sidebarContainer {
    display: flex;
    height: auto;

}

.sidebar {
    width: 130px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    overflow: hidden;
    background: #6391bf;

}

.topLink i {
    margin: 0 15px 0 0;
    padding: 0;
    width: 10px;
    text-align: center;
    color: #e0ffeb;
    transition-duration: .3s;
}

.link, .topLink {
    transition: .3s;
    padding: 15px 0 15px 7px;
    font-size: 14px;
    width: 130px;
    font-weight: bold;
    border-bottom: #ffffff solid 1px;
    color: #ffffff !important;
    text-decoration: none !important;
    text-shadow: #333333 0 0 2px;
    background: linear-gradient(#90bae1, #6391bf, #5988b8);

}

.link:hover, .topLink:hover, .active, .topActive {
    background: linear-gradient(rgba(124, 137, 142, 0.4), rgba(98, 108, 113, 0.6), rgba(87, 95, 99, 0.8), rgba(95, 105, 109, 0.8))
}


.topLink:hover i, .topActive i, .topLink, .topLink:hover, .topActive {
    text-decoration: none !important;
    color: #e0ffeb !important;
    transition-duration: .3s;
}


.onClickMoving {
    border: solid #b1b1b1;
    border-width: 0 0 0 1px;
    color: #ffffff;
    height: auto;
    cursor: pointer;
    background-color: #51697b;
}

.onClickMoving:hover {
    background-color: rgba(81, 105, 123, 0.8);
}

.onClickMoving i {
    padding: 2px 8px 5px 8px;
    margin: 2px;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    color: #ffffff;
    height: auto;
}

.wrapperClose {
    transition: all 0.5s;
    width: 0;
}

.wrapperBlack {
    background-color: #171d23;
}


@media (max-width: 535px) {
    .sidebarContainer {
        background-color: transparent !important;
        position: fixed;
        z-index: 1;
        height:100%;
        width: auto;
    }

    .sidebar {
        width: 0;
    }
    .topLink, .link{
        border: 1px solid rgba(255, 255, 255, 0.71);
     }
    .onClickMoving {
        color: #ffffff;
        height: 100%;
        width: 40px;
        cursor: pointer;
        border: solid transparent;
        background-color: transparent;
    }

    .onClickMoving:hover {
        background-color: transparent;
    }

    .onClickMoving:hover i {
        background-color: rgba(118, 154, 180, 0.8);
    }

    .onClickMoving i {
        padding-right: 8px ;
        margin: 2px 0 0 2px;
        color: #ffffff;
        width: 40px;
        background-color: rgba(118, 154, 180, 1);
        border-radius: 5px;
    }

    .wrapperClose {
        transition: all 0.5s;
        width: 130px;
        height:100%;
        position: absolute;
    }

    .wrapperArea {
         background-color: rgba(108, 117, 125, 0.56);
         height: 100%;
         width: 100%;
         display: block;

     }
    .wrapperArea i {
     margin: 2px 0 0 130px;
        transition: 0.5s;
        width: 40px;
    }
    .wrapperArea:hover {
        background-color: rgba(108, 117, 125, 0.56);
    }
    .wrapperContainer{
        width: 100%;

    }

}