.sidebarContainer {
    display: flex;
    height: 100%;

}

.sidebar {
    width: 130px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-left: 10px;
    transition: all 0.5s;
    overflow: hidden;
    background-color: #343a40 !important;

}
.topLinksArea{
    display: flex;
    flex-flow: column;
    margin: 10px 0;
}

.link, .topLink, .secondLink {
    transition-duration: .3s;
    border: dimgray solid 1px;
    margin: 2px 3px 2px 0;
    box-shadow: 0 0 5px rgba(4, 41, 247, 0.36);
    border-radius: 7px;
    padding: 5px 5px 8px 5px;
    font-size: 12px;
    color: #ffffff;
    width: 110px;

}

.link:hover, .topLink:hover, .secondLink:hover {
    transition-duration: .3s;
    border-color: rgba(255, 158, 34, 0.4);
    color: #ff9e22;
    text-decoration: none;
}

.topLink, .topLink:hover{
    color: #ffffff;
    background-color: #52c292;
    border-color: #bab7b7;
}
.secondLink, .secondLink:hover{
    color: #ffffff;
    background-color: #c15913;
    border-color: #bab7b7;
}

.active {
    text-decoration: none;
    border-color: rgba(255, 158, 34, 0.4);
    color: #ff9e22;
}

.topActive,.topLink:hover,.secondLink:hover{
    opacity: 0.8;
}

.onClickMoving{
    border: solid #b1b1b1;
    border-width: 0 0 0 1px;
    color: #ffffff;
    height: auto;
    cursor: pointer;
    background-color: #707070;
}

.onClickMoving:hover {
    background-color: #5b5b5b;
}

.onClickMoving i{
    padding: 2px 8px 5px 8px;
    margin: 2px;
    border:1px solid #b1b1b1;
    border-radius: 5px;
    color: #ffffff;
    height: auto;
}

.wrapperClose{
    transition: all 0.5s;
    width: 0;
}
