.sidebarContainer {
    display: flex;
    height: 100%;

}

.sidebar {
    width: 130px;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
    overflow: hidden;
    background-color: #3a8cd7 !important;

}

.topLink i {
    margin: 0 15px 0 0;
    padding: 0;
    width: 10px;
    text-align: center;
    color: #ffffff;
    transition-duration: .3s;
}

.link, .topLink, .bottomLink {
    transition-duration: .3s;
    border-bottom: #a7a4a4 solid 2px;
    padding: 10px 5px 10px 5px;
    font-size: 14px;
    color: #575656;
    width: 130px;
    font-weight: bold;
}

.link:hover, .active {
    transition-duration: .3s;
    border-bottom: #3a8cd7 solid 2px;
    color: #3a8cd7!important;
    text-decoration: none!important;
}



.topLink {
    transition-duration: .3s;
    border-bottom: #ffffff solid 2px;
    color: #ffffff!important;
    text-decoration: none!important;
    background-color: #3a8cd7 ;
}
.topLink:hover{
    background-color: rgb(52, 125, 186)
}

.topActive{
    opacity: 0.8;
    background: linear-gradient(rgba(124, 137, 142, 0.4), rgba(98, 108, 113, 0.6), rgba(87, 95, 99, 0.8), rgba(95, 105, 109, 0.8))
}

.topLink:hover i, .active i{
    text-decoration: none!important;
    color: #ffffff!important;
    transition-duration: .3s;
}


.onClickMoving{
    border: solid #b1b1b1;
    border-width: 0 0 0 1px;
    color: #ffffff;
    height: auto;
    cursor: pointer;
    background-color: #9099a0;
}

.onClickMoving:hover {
    background-color: rgba(144, 153, 160, 0.84);
}

.onClickMoving i{
    padding: 2px 8px 5px 8px;
    margin: 2px;
    border:1px solid #b1b1b1;
    border-radius: 5px;
    color: #ffffff;
    height: auto;
}

.wrapperClose{
    transition: all 0.5s;
    width: 0;
}
