.modal {
    margin: auto;
    padding: 0 30px 30px 30px;
    background: linear-gradient(rgb(22, 71, 97), rgb(98, 134, 154), rgb(10, 62, 92)) !important;
    color: #f6f6f6;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(60, 60, 60, 0.7);
    display: flex;
}

.loginBtn, .modalBtn {
    margin: 5px;
    background: linear-gradient(rgb(158, 156, 156), #49788b, #49788b, #49788b, rgb(158, 156, 156));
    border: #ffffff solid 1px;
    width: 80px;
    color: #ffffff;
    padding-bottom: 3px;
    transition: all 0.5s;
}

.loginBtn:hover, .modalBtn:hover {
    opacity: 0.8;
    transition: all 0.5s;
}


.modalBtn {
    transition: all 0.5s;
    background: linear-gradient(rgb(158, 156, 156), #49788b, #49788b, #49788b, rgb(158, 156, 156));
}

.placeHolder {
    margin-bottom: 3px;
    width: 200px;
}

.checkboxItem {
    margin-bottom: 20px;
}

.loginArea {
    text-align: center;
}

.login {
    color: #ffffff;
    text-shadow: #333333 0 0 2px;
}

.modalWindow i {
    color: rgba(255, 255, 255, 0.25);
    position: relative;
    left: 180px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    cursor: pointer;
}

.modalWindow i:hover {
    color: rgba(255, 255, 255, 0.7);

}

.modalWindow h2 {
    margin-bottom: 20px;
}

@media (max-width: 535px) {

    .modal {
        margin-top: 130px;
        height: 270px;
        overflow: scroll;

    }

    .modalWindow {
        margin-bottom: 150px;
    }

    .loginArea p {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 0;
    }
}
