.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 10px;
    max-width: 780px;
}

.actionNav {
    margin: 10px 30px;
    text-align: center;
    background-color: #ffffff;
    padding: 5px;

}

.actions img:hover {
    box-shadow: 0 0 7px #ce4720;
    transition: all 0.3s;

}

.actions img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 7px #004992;
    transition: all 0.3s;

}

.action {
    height: 130px !important;
    box-shadow: 0 0 7px #004992;
}

.item {
    transition-duration: .3s;
    width: 180px;
    height: 290px;
    border-radius: 3px;
    border: 1px #616161 solid;
    box-shadow: 0 0 7px #004992;
    margin: 10px;
    padding: 0 10px 10px 10px;
    background-color: #ffffff;
}

.item:hover {
    transition-duration: .3s;
    border: 1px #ce4720 solid;
    box-shadow: 0 0 0px;
}

.flexItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    justify-content: center;
}

.imageContainer {
    text-align: center;
}

.imageExample {
    width: 100px;
    margin-top: 5px;
}

.itemName {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
    color: #5c686e;
}

.itemDescription {
    font-size: 12px;
    color: #8d9ba4;
}

.navLink:hover {
    text-decoration: none;
}

.itemCost {
    color: #f25529;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.buyButton {
    background-color: #f25529;
    color: #ffffff;
    padding: 3px 10px 5px 10px;

}

.buyButton:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #bc4d29;
}

.itemNew {
    background-color: #22c083;
    color: #ffffff;
    left: 82px;
    position: relative;
    width: 86px;
    padding: 0 10px 2px 10px;

}


.wrapperOpen{
    display: block;
}
.wrapperClose{
    display: none;
}

@media (max-width: 936px) {

    .actionNav {
        margin: 10px;
    }

    .actions img {
        max-width: 250px;

    }

}


@media (max-width: 436px) {

    .actions img {
        max-width: 190px;

    }

}