.container {
    display: flex;
    justify-content: center;
    margin: 0 auto 9px auto;
    max-width: 770px;
    background-color: #171d23;

}

.topBlock {
    display: none;
    background-image: url("../../../../../assets/images/slide1.jpg");
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 100%;
    background-color: #171d23;
    opacity: 0.9;
}

.topBlock h3 {
    text-shadow: #000000 0 0 10px;
}

.carousel h3 {
    color: #ffffff;
    text-shadow: #000000 0 0 10px;
    font-weight: bold;
    position: absolute;
    top: 20%;
    width: 100%;

}

.carousel img {
    opacity: 0.85;
}

@media (max-width: 860px) {

    .carousel h3 {
        top: 10%;

    }

}


@media (max-width: 762px) {

    .carousel {
        display: none;
    }

    .topBlock {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
