.infoArea {
    border: #cecece 1px solid;
    max-width: 600px;
    margin: 10px 5px;
    box-shadow: 0 0 7px #cecece;
}

.titleArea {
    background: linear-gradient(rgba(79, 97, 119, 0), #a1b9d1, #748595,#748595)!important;
    margin: 0!important;
}

.infoArea ul {
    margin: 0;
    background-color: #ffffff;
    border: #cecece solid;
    border-width: 1px 0 0 0;
    padding-top: 20px;
}

.colomnStyle {
    margin: 20px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.list img {
    width: 30px;
}

.list li {
    list-style-type: none;
    margin-bottom: 20px;
}

.cardsContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 620px;
}

.card {
    margin: 10px;
    text-align: center;
}
.cardHeader{
    background: linear-gradient(rgba(79, 97, 119, 0), rgb(82, 113, 128), rgb(82, 113, 128), rgb(82, 113, 128)) !important;
    color: #ffffff;
}
.btnColor{
    background: linear-gradient(rgba(201, 163, 0, 0), rgba(168, 131, 0, 0.8), rgb(230, 184, 0))!important;
    border: #917309 1px solid!important ;
    margin-top: 10px;
}
.btnColor:hover{
    background: linear-gradient(rgba(201, 163, 0, 0), rgba(168, 131, 0, 0.8), rgb(152, 116, 0))!important;
}