header
  min-width: 450px!important
  margin-bottom: 7px
  box-shadow: 0 0 7px #004992
  background: linear-gradient(rgba(58, 140, 215, 0.8),#3a8cd7,#3a8cd7)

.navLink
  color: #ffffff
  padding: 5px
  border: solid rgba(242, 242, 242, 0)
  border-width: 0 0 3px 0
  margin-bottom: 0
  margin-right: 1px
  transition: all 0.5s

.navLinkBasket
  color: #ffffff
  transition: 0.5s
  text-decoration: none!important

.navLink i
  margin-right: 10px
  height: 15px
  transition: 0.5s

.navLink:hover, .navActivLink
  text-decoration: none
  border: solid #ffffff
  border-width: 0 0 3px 0
  color: #ffffff

.navBar
  margin: 0 !important
  padding: 0 !important
  border-top: 2px solid #ffffff
  background: linear-gradient(rgba(124, 137, 142, 0.4), rgba(98, 108, 113, 0.6), rgba(87, 95, 99, 0.8), rgba(95, 105, 109, 0.8))

.toggler
  margin: 2px auto


@media (max-width: 767px)
  .navLink
    border: solid transparent
    text-align: center
    transition: all 0.5s


  .navLink:hover
    border: solid transparent
    background-color: rgba(141, 155, 164, 0.16)

  .navActivLink
    border: solid transparent
    background-color: rgba(141, 155, 164, 0.27)





