header
  min-width: 450px!important
  margin-bottom: 7px
  box-shadow: 0 0 7px #004992

.navBarArea
  background: linear-gradient(rgba(84, 116, 143, 0.75), rgba(83, 106, 124, 0.95), #536a7c, rgba(65, 82, 97, 0.95))
  display: flex
  border-top: 1px solid #ffffff

.navLink
  color: #ffffff
  padding: 12px
  margin-bottom: 0
  margin-right: 1px
  transition: all 0.5s

.navLinkBasket
  color: #ffffff
  transition: 0.5s
  text-decoration: none!important

.navLink i
  margin-right: 10px
  height: 15px
  transition: 0.5s
  color: #e0ffeb

.navLink:hover, .navActivLink
  text-decoration: none
  color: #e0ffeb
  background: linear-gradient( rgb(109, 128, 156), rgb(126, 158, 189), rgb(87, 102, 127))

.navBar
  margin: 0 auto!important
  padding: 0 !important
  width: 100%

.toggler
  margin: 2px auto


@media (max-width: 767px)
  .navLink
    border: solid transparent
    text-align: center
    transition: all 0.5s


  .navLink:hover
    border: solid transparent
    background-color: rgba(141, 155, 164, 0.16)

  .navActivLink
    border: solid transparent
    background-color: rgba(141, 155, 164, 0.27)





